.Container{
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
}
.Heading{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 350px;
}
.Logo-Name{
    display: flex;
    justify-content: center;
    position: relative;
    //height: fit-content;
   // width: fit-content;
   //size: 100cm;
}
.Firstheading{
    display: flex;
    justify-content: center;
}
.Fourthheading{
    display: flex;
    justify-content: center;
}
.Detail{
    //display: flex;
    position: relative;
    left: 20px;
    width: 300px;
}
.LoginDetails{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    width: auto
}
.forgotemail{
    display: flex;
    align-items: flex-start;
    //padding: auto;
    position: relative;
   // height: 60px;
    bottom: 25px;
    right: 8px;
}
.guest{
    display: flex;
    position: relative;
    bottom: 15px;
}
// .Forget{
//     display: flex;
//     flex-direction: row;
// }
.create{
    display: flex;
    //justify-content: left;
    //text-align: left;
    position: relative;
    left: 10px;
    font-size: medium;
}
.next{
    display: flex;
    position: relative;
    bottom: 26px;
    right: -230px;
    width: 50px;
    height: 25px;
    text-size-adjust: 40px;
    
}