<div class="Container"> 
    <mat-card class="Heading">
      <div class="Logo-Name">
        <h1>
        <span style="color: blue;">F</span>
        <span style="color: Red;">U</span>
        <span style="color: yellow;">N</span>
        <span style="color: blue;">D</span>
        <span style="color: green;">O</span>
        <span style="color: red;">O</span>
        </h1>
      </div>
        <div>
        <h1 class="Firstheading">Find your email</h1>
        </div>
        <div>
          <h4 class="Fourthheading">Use your Fundoo Account</h4>
        </div>
        <form class="Detail" [formGroup]="ForgotForm" (ngSubmit)="ForgotSubmit()" >
        <div class="LoginDetails">
            <mat-form-field appearance="outline">
              <mat-label>Email or Phone</mat-label>
              <input matInput placeholder="email" formControlName="email">
            </mat-form-field>
        </div>
        <div class="forgotemail">
              <a routerLink="/resetpassword/:token"mat-button class="forgot" color="primary">Forgot Email?</a>
        </div>
        <div class="guest">
            <h5>Not your computer? Use Guest mode to sign in privately</h5>
        </div>
        <div class="Forget">
             <a routerLink="/Register"class="create">Create Account</a>
             <button class="next" mat-raised-button color="primary">Next</button>
        </div>
      </form>
      </mat-card>
</div>