.Container{
    display: flex;
    justify-content: center;
    position: relative;
    top: 80px;
}
.Heading{
    display: flex;
    justify-content: center;
    position: relative;
    width: 400px;
    height: -300px;
}
.Logo-Name{
    display: flex;
    justify-content: center;
}
.Firstheading{
    display: flex;
    justify-content: center;
}
.SecondHeading{
    display: flex;
    position: relative;
    left: 30px;
    height: 10px;
}
.Detail{
    display: flex;
   //justify-content: center;
    flex-direction: column;
    position: relative;
    left: 20px;
}
.ChangePassword{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 10px;
}
.first{
    position: relative;
    top: 10px;
    width: 330px;
    left: 20px;
    //height: 20px;
}
.second{
    display: flex;
    position: relative;
    width: 330px;
    top: 10px;
    left: 20px;
}
.third{
    display: flex;
    position: relative;
    width: 330px;
    top: 10px;
    left: 20px;
}
.hint{
    display: flex;
    position: relative;
    top: 8px;
    left: 10px;
    size: 10px;
}
.checkbox{
    display: flex;
    position: relative;
    bottom: 0px;
}
.skip{
    display: flex;
    position: relative;
    bottom: -5px;
    left: 10px;
}
.save{
    display: flex;
    position: relative;
    left: 190px;
    bottom: 30px;
}