<div class="Container"> 
    <mat-card class="Heading">
      <div class="Logo-Name">
        <h1>
        <span style="color: blue;">F</span>
        <span style="color: Red;">U</span>
        <span style="color: yellow;">N</span>
        <span style="color: blue;">D</span>
        <span style="color: green;">O</span>
        <span style="color: red;">O</span>
        </h1>
      </div>
      <div>
        <h1 class="Firstheading">Change your Password</h1>
      </div>
      <div>
        <h3 class="SecondHeading">Create a Strong Password</h3>
      </div>
      <form class="Detail" [formGroup]="Resetform" (ngSubmit)="ResetSumbit()">
        <div class="ChangePassword">
          

            <mat-form-field class="second"appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="password" formControlName="Password">
                <mat-error>give valid password</mat-error>
            </mat-form-field>
            <mat-form-field class="third" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="ConfirmPassword" formControlName="ConfirmPassword">
                <mat-error>give valid Confirm password</mat-error>
            </mat-form-field>
        </div>
            <div>
                <mat-hint class="hint">At least 8 Characters</mat-hint>
            </div>
            <div class="checkbox">              
                <mat-checkbox type="checkbox" matsuffix (click)="itsShowyourPassword()" color="primary" >Show password</mat-checkbox>                 
            </div>
            <div class="skip">
                <a mat-button class="skipp" color="primary">Skip</a>
          </div>
          <div class="save">
               <button class="savepass" mat-raised-button color="primary">SavePassword</button>
          </div>
      </form>
    </mat-card>
</div>
